*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    
}
body{
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-shadow: .1rem .1rem 2rem gray;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    margin-top: 0;
    
}

nav .logo{

   
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img{
    min-height: 2rem;
    max-width: 4rem;
}
.test{
    color: gray;
}
.book{
    color: rgb(100, 189, 207);
}

.nav_links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80vw;
}

.nav_links ul li{
    list-style: none;
}

.nav_links ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: grey;
    text-shadow: .01rem .01rem 1rem yellowgreen;
}

.search_bar{
    position: relative;
}

.search_bar input{
    height: 4vh;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid gray;
    
    
}
.search_bar .fa-solid{
    position: absolute;
    right: 1rem;
    top: 20%;
}

.translate img{
    max-height: 2vh;
    max-width: 2vW;
}

.get_started button{
    height: 4vh;
    width: 8vw;
    background-color: rgba(101, 224, 101, 0.69);
    border: none;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .5rem gray;

}

@media (max-width:1000px) {

    .nav_links{
        display: none;
    }
    
}

.bar{
    position: absolute;
    right: 4rem;
    
    i{
        scale: 1.5;
    }

    
}

@media (width<1000px) {
    .bar{
        display: flex;
    }
    
}

@media (width>1000px) {
    .bar{
        display: none;
    }
    .side_bar{
        display: none;
    }
    
}




.side_bar{

    min-height: 100vh;
    min-width: 40vw;
    background-color: gray;
    position: fixed;
    opacity: .95;
    right: 0;
    z-index: 2;
    display: none;
    margin-top: 10vh;
    justify-content: center;

}

.side_bar ul{

    display: flex;
    align-items: center;
    flex-direction: column;
    


}

.side_bar ul li{
    margin: 2rem;
    list-style: none;
}

.side_bar ul li a{
    color: white;
    text-decoration: none;
}

.side_bar button{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_sec{
    min-height: 70vh;
    background-image: linear-gradient(white,white,rgb(207, 225, 233));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    position: relative;
    width: 100%;

}

@media (width<730px) {
    .hero_sec{
        flex-direction: column;
        



    }
    .study_img img{
        scale: 1.4;
        margin-top: 4rem;
    }
    .study_img{
          margin: 0 auto;

    }
}

.hero>*{
    padding: .2rem;

    i{
        color: greenyellow;
    }
}

.get_start_btn button{
    height: 2rem;
    min-width: 50%;
    background-color: rgba(101, 224, 101, 0.69);
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    box-shadow: .1rem .1rem .5rem gray;

}

.study_img img{
    max-height: 40vh;
    max-width: 30vw;

    background-blend-mode:multiply;
    
}
.student_data{
    position: absolute;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 2rem;
    background-color: white;
    flex-wrap: wrap;
    margin: 1rem;
}

@media (width<824px) {

    .student_data{

       position: absolute;
       top: 65vh;
       scale: 1;
       width: 100%;
       border: none;
       border-radius: none;
       background-image:linear-gradient(rgba(30, 97, 136, 0.19));

        
        

    }
    .card1,.card2,.card3,.card4{
        margin: 2rem;
    }    
    
}

@media (width>824px) {

    .student_data{

        bottom: -6rem;
        scale: .6;
        flex-wrap: nowrap;
        min-width: 100%;


    
        
        

    }
    
    
}

.student_data .card1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(101, 224, 101, 0.69);
    padding: 1rem;
    border-radius: 1rem;

    i{
        color: green;
        scale: 3;
        margin: 2rem;
    }
    
}
.student_data .card2{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(227, 153, 14, 0.489);
    padding: 1rem;
    border-radius: 1rem;
    i{
        color: orange;
        scale: 3;
        margin: 2rem;
    }

}
.student_data .card3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(221, 160, 221, 0.664);

    i{
        color: purple;
        scale: 3;
        margin: 2rem;
    }

}
.student_data .card4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(217, 171, 171);

    i{
        color: indianred;
        scale: 3;
        margin: 2rem;
    }

}


/* Popular Exams */

.popular_exams{
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    align-items: center;
}

.exam_tabs{
    width: 90%;
    max-height: 10vh;
    border: 1px solid gray;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 2rem;
    background-color: whitesmoke;

    
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */

    

    div{
        margin: 2rem;
        min-width: 8rem;
    }

    button{
        width: 100%;
        height: 2.5rem;
        border-radius: 1rem;
        border: none;
        box-shadow: 2px 2px 10px gray;
        text-shadow: 1px 1px 2px gray;

    }
}


/* Login Page Styling */

.signup_container{
    min-height: 50vh;
    scale: 1;
    width: 80vw;
    border: 1px solid gray;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    padding: 4rem;
    margin: 8rem auto;
    border-radius: 1rem;
    position: relative;

}
.back{
    position: absolute;
    top: 1rem;
}

.sign_logo img{
    height: 6rem;
    width: 6rem;
}
.content>*{

    margin-top: 2rem;
    margin-bottom: 2rem;

    
    
}

.content button{
    width: 60%;
    height: 2rem;
    background-color: purple;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 900;
}
.input input{
    height: 2rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
}


/* ssc_exams_list  */


.exams{
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    
}
.ssc_exams_list,.banking_exams_list,.teaching_exams_list,.civil_service_list{
    min-height: 50vh;
    width: 70vw;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px lightgray;
    position:absolute;
    z-index: 1;
    transition: all .5s ease-in;


  
}
.banking_exams_list,.teaching_exams_list,.civil_service_list{

    
     transform: translateX(150%);

  

}

.ssc,.bank,.teaching,.civil{
    display: flex;
    justify-content: space-around;
    max-width: 20vw;
    min-width: 20vw;
    border: 1px solid gray;
    border-radius: 1rem;
    margin: .5rem;
    align-items: center;


    img{
        height: 4rem;
        width: 4rem;
        margin: 1rem;
        border-radius: 50%;
        
    }
}

.ssc:hover,.bank:hover,.teaching:hover,.civil:hover{
    background-color: lightgray;
}



